<body>
	<div>
	  <!-- Page Header -->
	  <!-- /.row -->
	  <div class="row">
	      <div class="col-lg-12">

	          <h1 class="page-header">
	              Client
	          </h1>
	      	<div class="col-lg-offset-1 col-lg-2 label-top">
	          <md-button ng-disabled="mail === '' || pwd1 === ''" class="md-raised md-primary" ng-click="demand_ressource($event)">Demande service</md-button>
	        </div>
	        <div class="col-lg-offset-6 col-lg-2 label-top">
	          <md-button ng-disabled="mail === '' || pwd1 === ''|| 1 === 1" class="md-raised md-primary" ng-click="remove_all($event)"  >Fin des services</md-button>  
	          <!-- A changer pour mettre disponible le bouton "fin des services" quand un service est actif -->
	        </div>
	      </div>
	  </div>

	  <div class="row">
	      <div class="col-lg-12">
	          <h2 class="page-header">
	              Overview
	          </h2>
	      </div>
	  </div>

	  <div class="row placeholders">
	   	<div class="col-xs-6 col-sm-3 placeholder">
	     <p style="font-size:80px;">0</p>
	     <p style="font-size:40px;color:#7fc1f2;">Devices</p>
	   </div>
	   <div class="col-xs-6 col-sm-3 placeholder">
	     <p style="font-size:80px;">0</p>
	     <p style="font-size:40px;color:#7fc1f2;">Sensors</p>
	   </div>
	   <div class="col-xs-6 col-sm-3 placeholder">
	     <p style="font-size:80px;">0</p>
	     <p style="font-size:40px;color:#7fc1f2;">Actuators</p>
	   </div>
	   <div class="col-xs-6 col-sm-3 placeholder">
	     <p style="font-size:80px;">0</p>
	     <p style="font-size:40px;color:#7fc1f2;">Rules</p>
	   </div>
	 </div>
	  <!-- /.row -->
	  <div class="row">
	      <div class="col-lg-12">
	          <h2 class="page-header">
	              Liste des services
	          </h2>
	      </div>
	  </div>
	</div>
</body>