<div>
  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Provider
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 center-button">
        <md-button class="md-raised md-warn" ng-click="insertDockerMachine($event)">Insérer Docker Machine</md-button>
      </div>

      <div class="col-lg-6 center-button">
        <md-button class="md-raised md-warn" ng-click="deleteDockerMachine($event)">Supprimer Docker Machine</md-button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <md-divider></md-divider>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="4" total="8" cap="butt" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="4" total="8" cap="butt" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="4" total="8" cap="butt" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="2" total="8" cap="butt" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="4" total="8" cap="butt" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="6" total="8" cap="butt" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <md-divider></md-divider>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4 center-button">
        <md-button class="md-raised md-warn" ng-click="usersContainers($event)">Containers utilisateurs</md-button>
      </div>
      <div class="col-lg-4 center-button">
        <md-button class="md-raised md-warn" ng-click="availableImages($event)">Images disponibles</md-button>
      </div>
      <div class="col-lg-4 center-button">
        <md-button class="md-raised md-warn" ng-click="nodes($event)">Les noeuds</md-button>
      </div>
    </div>
  </div>

</div>
