<div>
  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Provider
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-offset-2 col-lg-2">
        <md-button class="md-raised md-warn" ng-click="">Insérer Docker Machine</md-button>
      </div>

      <div class="col-lg-offset-4 col-lg-2">
        <md-button class="md-raised md-warn" ng-click="">Stopper Docker Machine</md-button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <md-divider></md-divider>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="10" value="50" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
    </div>
  </div>

</div>
