<md-dialog class="md-dialog-box" flex="70" aria-label="availableImages" ng-cloak>

    <form name="availableImagesForm">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Les images sur votre noeud</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div ng-repeat="image in images" >
              NAME : {{image}}
            </div>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" type="button" ng-click="refreshImages()" aria-label="Refresh">Rafraîchir</md-button>
            <md-button class="md-raised md-warn" type="button" ng-click="close()" aria-label="Close">Fermer</md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
