<md-dialog flex = "30" aria-label="demandRessource" ng-cloak>

    <form name="demandRessourceForm" data-ng-submit="answer(name_service,image_name,nb_replicat,list_ports,commande)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nouvelle ressource</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Nom du service</label>
                    <input ng-model="name_service" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nom de l'image</label>
                    <input ng-model="image_name" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nombre de replicats</label>
                    <input type="number" min="1" max="20" ng-model="nb_replicat" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Liste des ports a exportés (exemple: 80,90,100)</label>
                    <input ng-model="list_ports" ng-pattern="/^[0-9]+(,[0-9]+)*$/" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Commande</label>
                    <input ng-model="commande">
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-progress-circular ng-show="buttonDemandDisabled" ng-disabled="!buttonDemandDisabled" class="md-hue-2" md-diameter="24px"></md-progress-circular>
            <md-button ng-disabled="buttonDemandDisabled" type="submit" class="md-raised md-primary" aria-label="Valider">
                Valider
            </md-button>
            <md-button ng-disabled="buttonDemandDisabled" class="md-raised md-warn" type="button" ng-click="cancel();"
                       aria-label="Annuler">
                Annuler
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
