<md-dialog class="md-dialog-box" flex="20" aria-label="login" ng-cloak>

    <form name="loginForm" data-ng-submit="answer(username, password)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Se connecter</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Identifiant</label>
                    <input ng-model="username" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Mot de passe</label>
                    <input ng-model="password" type="password" required>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" aria-label="Connexion">
                Connexion
            </md-button>
            <md-button class="md-raised md-warn" type="button" ng-click="cancel();"
                       aria-label="Annuler">
                Annuler
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
