<md-dialog class="md-dialog-box" flex="70" aria-label="nodes" ng-cloak>

    <form name="nodesForm">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Informations sur votre noeud</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p>Le tuto</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" type="button" ng-click="refreshInfos()" aria-label="Refresh">Rafraîchir</md-button>
            <md-button class="md-raised md-warn" type="button" ng-click="close()" aria-label="Close">Fermer</md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
