<div>
  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Provider
          </h1>
      </div>
  </div>

  <div class="row">
       <div class="col-lg-12">
           <h2 class="page-header">
               Gestion de la Docker Machine
           </h2>
       </div>
   </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 center-button">
        <md-button class="md-raised md-primary" ng-click="insertDockerMachine($event)">Insérer Docker Machine</md-button>
      </div>

      <div class="col-lg-6 center-button">
        <md-button class="md-raised md-primary" ng-click="deleteDockerMachine($event)">Supprimer Docker Machine</md-button>
      </div>
    </div>
  </div>

  <div ng-show="isProvider" class="row">
       <div class="col-lg-12">
           <h2 class="page-header">
               Information de la Docker Machine
           </h2>
       </div>
   </div>

  <div ng-show="isProvider" class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="cpuUsed" total="cpuTotal" cap="butt" label="CPU given" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=""></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="ramUsed" total="ramTotal" cap="butt" label="RAM given" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=" B"></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="hddUsed" total="hddTotal" cap="butt" label="HDD given" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=" Gig"></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="isProvider" class="row">
       <div class="col-lg-12">
           <h2 class="page-header">
               Etat de la Docker Machine
           </h2>
       </div>
   </div>

  <div ng-show="isProvider" class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" value="cpuValue" cap="butt" label="CPU used" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=" %"></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="ramValue" total="ramUsed" cap="butt" label="RAM used" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=" B"></ng-gauge>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-offset-1 col-lg-10 gauge">
          <ng-gauge size="300" type="full" thick="30" used="hddValue" total="hddUsed" cap="butt" label="HDD used" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append=" Gig"></ng-gauge>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="isProvider" class="row">
       <div class="col-lg-12">
           <h2 class="page-header">
               Information sur le provider
           </h2>
       </div>
   </div>

  <div ng-show="isProvider" class="row">
    <div class="col-lg-12">
      <div class="col-lg-4 center-button">
        <md-button class="md-raised md-primary" ng-click="usersContainers($event)">Containers utilisateurs</md-button>
      </div>
      <div class="col-lg-4 center-button">
        <md-button class="md-raised md-primary" ng-click="availableImages($event)">Images disponibles</md-button>
      </div>
      <div class="col-lg-4 center-button">
        <md-button class="md-raised md-primary" ng-click="nodes($event)">Votre noeud</md-button>
      </div>
    </div>
  </div>

</div>
