<md-dialog flex = "30" aria-label="scale" ng-cloak>

    <form name="scaleForm" data-ng-submit="answer(nb_replicat)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Scale du service {{serviceToScale}} [{{nbContainersServiceToScale}} réplicats]</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block">
                    <label>Nombre de replicats</label>
                    <input type="number" min="1" max="20" ng-model="nb_replicat" required>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-progress-circular ng-show="buttonScaleDisabled" ng-disabled="!buttonScaleDisabled" class="md-hue-2" md-diameter="24px"></md-progress-circular>
            <md-button ng-disabled="buttonScaleDisabled" type="submit" class="md-raised md-primary" aria-label="Valider">
                Valider
            </md-button>
            <md-button ng-disabled="buttonScaleDisabled" class="md-raised md-warn" type="button" ng-click="cancel();"
                       aria-label="Annuler">
                Annuler
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
